body{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header{

    color:brown;
    text-align: center;
    padding: 80px ;
    background-image: url("images2/head.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.task{
    text-align: center;
    color:black;
    background-image: url(images2/logo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.task h2{
    text-align: center;
    size: 100px;
}
input[type="text"] {
    padding: 8px;
    margin-right: 5px;
}

button {
    padding: 8px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px;
    background-color: #fff;
    padding: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    opacity: 0.7;
}

.checkbox {
    margin-right: 10px;
}

.edit-input {
    margin-right: 5px;
}


footer{
    text-align:center;
    background-image: url(images2/final.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 75px;
    color: black;
    
}